name: Java CI

on:

  push:

    branches: [ "main" ]

  pull_request:

    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

      - name: Checkout code

        uses: actions/checkout@v4

      - name: Run Java Maven Composite Action

        uses: ./.github/actions/java-maven-build

        with:

          java-version: "17"
